*{
    margin: 0px;
    padding: 0px;
}
p{
    margin-left:150px;
    
}
.container{
    margin:20px auto;
    width: 600px;
    border: 1px solid #999;
    padding: 10px;
}

.container h1{
    color: blue;
    text-align: center;
}

.container div.row{
    margin-top:20px;
}

.container div.row span{
    display: inline-block;
    width: 255px;
    text-align: right;
}

.container div.row input[type="text"]{
    padding: 3px 5px;
}

.container div.row input[type="submit"]{
    padding: 3px 5px;
    margin: 0px auto 20px auto;
    display: block;
}
.container div.result{
    margin-left: 150px;
}

.container div.result img{
    width: 100px;
    height: 100px;
    float:left;
    overflow: hidden;
}
.container div.result p{
    text-align: justify;
    height:100px;
    line-height:100px;
}

.container div.result p span{
    font-style: italic;
}